<div>
    <p>Hi, {{ name }}</p>
    <p>
        You added to company: {{ company.name }}
        now you can login by: <a href="{{ absolute_url(path('fos_user_security_login')) }}">login</a>
    </p>
    <p>
        Username: {{ name }}<br>
        Password: {{ password }}
    </p>
</div>